node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

gen/
_out/
target/
.cdsrc-private.json
default-*.json

app/*/dist/
dist/

*.sqlite
*.sqlite3
*.db
*.db3
sqlite.db


@cds-models/

# MTA (Multi-Target Application)
mta_archives/
*_mta_build_tmp/
*.mtar


# OS & IDE specifics
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln